*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Handlee', cursive;
}

.header {
    --s: 105px; /* control the size */
    --c1: #b9b9b9;
    --c2: #dcdcdc;
    --c3: #fafafa;

    background:
        conic-gradient(from 75deg,var(--c1)   15deg ,var(--c2) 0 30deg ,#0000 0 180deg,
                                var(--c2) 0 195deg,var(--c1) 0 210deg,#0000 0)
        calc(0.5*var(--s)) calc(0.5*var(--s)/0.577),
        conic-gradient(var(--c1)   30deg ,var(--c3) 0 75deg ,var(--c1) 0 90deg, var(--c2) 0 105deg,
                    var(--c3) 0 150deg,var(--c2) 0 180deg,var(--c3) 0 210deg,var(--c1) 0 256deg,
                    var(--c2) 0 270deg,var(--c1) 0 286deg,var(--c2) 0 331deg,var(--c3) 0);
    background-size: var(--s) calc(var(--s)/0.577);
    /* 0.577=tan(30deg)*/
    background-position: bottom;

}
.div-img-header{
    text-align: center;
}

.img-header{
    width: 700px;
}

.title{
    color: crimson;
    font-size: 50px;
    text-align: center;
}

.main{
    background: conic-gradient(at center top, rgb(17, 24, 39), rgb(243, 244, 246), rgb(17, 24, 39));
}

.filter-form{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.add-phrase{
    margin-block: 50px;
    text-align: center;
}

.add-title{
    color: #c06500;
}

.add-btn{
margin-left: 20px;
padding: 4px 10px 0 10px;
font-weight: 600;
color: #ff9800;
}

.fieldset{
    width: 400px;
    font-weight: 600;
}

.legend{
    font-size: 30px;
    color: #c06500;
}

.input{
    margin-bottom: 20px;
    margin-left: 20px;
    padding-left: 10px;
}

.select{
    margin-bottom: 20px;
    margin-left: 20px;
    padding-left: 10px;
}

.phrases-section{
    font-size: 30px;
}

.ul{
    list-style: none;
}

.li{
    margin-left: 20px;
    padding-bottom: 20px;
}

.quote{
    color: rgb(61, 89, 140);
}

.footer{
    background-color: crimson;
    padding-block: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
}

.footer-logo{
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.footer-ul{
    list-style: none;
}

.footer-icon{
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
}
.fab{
    color: black;
    font-size: 40px;
}