*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Handlee', cursive;
}

.div-img-header{
    text-align: center;
}

.img-header{
    width: 700px;
}

.title{
    color: crimson;
    font-size: 50px;
    text-align: center;
}

.filter-form{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.add-phrase{
    margin-block: 50px;
    text-align: center;
}

.add-title{
    color: cornflowerblue;
}

.add-btn{
margin-left: 20px;
padding-inline: 10px;
font-weight: 600;
}

.fieldset{
    width: 400px;
    font-weight: 600;
}

.legend{
    font-size: 30px;
    color: cornflowerblue;
}

.input{
    margin-bottom: 20px;
    margin-left: 20px;
    padding-left: 10px;
}

.select{
    margin-bottom: 20px;
    margin-left: 20px;
    padding-left: 10px;
}

.phrases-section{
    font-size: 30px;
}
.ul{
    list-style: none;
}

.li{
    margin: 20px;
}

.quote{
    color: goldenrod;
}

.footer{
    background-color: crimson;
    padding-block: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
}

.footer-logo{
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.footer-ul{
    list-style: none;
}

.footer-icon{
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
}
.fab{
    color: black;
    font-size: 40px;
}